<div class='margin-10'>

  <h1 caHighlight='lime'
      caTextColor='white'
      caStyles='{"color":"red","background":"yellow","font-weight":"bold" }'

    >Best Movies...</h1>

    <div class='row' >
      <div class="col-md-3">
          <select [(ngModel)]='selectedCriteria' class='form-field'>
              <option *ngFor='let criteria of searchCriteria'
                      [value] = 'criteria'
                    >{{criteria}}</option>
            </select>
      </div>

      <div class="col-md-6">
          <input type='search'
          [(ngModel)]='searchTerm'
          class='form-field'
          placeholder="Search"
          (change)='search()'
          />

      </div>

      <div class="col-md-3">
        <input type='button' class='btn btn-sm btn-default' value='Search' (click)='search()' />
      </div>

    </div>

    <input type='checkbox'
    [(ngModel)]='hideImages' /> Hide Images



    <table class='table table-condensed table-striped table-hover table-inverse' >
      <thead>
        <tr>
          <th >
              <ca-range [hidden]='hideImages'
                        [min]='10'
                        [max]='50'
                        [delta]='5'
                        [(value)]='imageSize'

                        ></ca-range>


          </th>
          <th>Title</th>
          <th>Imdb Rating</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let movie of movies "    >
          <td  >
            <img [hidden] = 'hideImages'  src ='{{movie.Poster}}'
                 [style.width.%]='imageSize'
            />
          </td>
          <td>{{movie.Title}}</td>
          <td>{{movie.imdbRating}}</td>
          <td>
            <a href='/movies/{{movie.imdbID}}' class='btn btn-sm btn-primary' >Details</a>
          </td>
        </tr>

      </tbody>

    </table>

    <p caHighlight >Total Movies : {{movies.length}}</p>


</div>

