<div >

  <h2>Add Movie</h2>

  <form action="">

    <input type="text" class="form-field" placeholder='Imdb ID' [(ngModel)]='movie.imdbID' />

    <input type="text" class="form-field" placeholder='Movie Title' [(ngModel)]='movie.Title' />

    <input type="text" class="form-field" placeholder='Type' [(ngModel)]='movie.Type' />

    <input type="text" class="form-field" placeholder='Year' [(ngModel)]='movie.Year' />

    <input type="text" class="form-field" placeholder='Imdb Rating' [(ngModel)]='movie.imdbRating' />

    <input type="text" class="form-field" placeholder='Release Date' [(ngModel)]='movie.ReleaseDate' />

    <input type="text" class="form-field" placeholder='Poster' [(ngModel)]='movie.Poster' />

    <input type="text" class="form-field" placeholder='Box Office Collection' [(ngModel)]='movie.BoxOffice' />
    <p></p>
    <input type='submit' value='Add Movie' class='btn btn-lg btn-outline-primary' />

  </form>

</div>
