<div class='container'>

  <h1>Best Movies...</h1>

    <input type='checkbox'
    [(ngModel)]='hideImages' /> Hide Images

    <table class='table table-condensed table-striped table-hover table-inverse' >
      <thead>
        <tr>
          <th >

            <input class='btn btn-sm btn-danger'
                    type='button' value='-'
                    (click)='onDown()'
                    [disabled]= 'imageSize==minSize'
                    />
            {{imageSize}}
            <input class='btn btn-sm btn-primary' type='button'  value='+' (click)='onUp()'
                    [disabled]= 'imageSize==maxSize'
            />

          </th>
          <th>Title</th>
          <th>Imdb Rating</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let movie of movies"    >
          <td  >
            <img [hidden] = 'hideImages'  src ='{{movie.Poster}}'
                 [style.width.%]='imageSize'
            />
          </td>
          <td>{{movie.Title}}</td>
          <td>{{movie.imdbRating}}</td>
        </tr>

      </tbody>

    </table>

    <p>Total Movies : {{movies.length}}</p>


</div>

